.floatingToolBar{
    top:0%;
    left:5%;
    right:5%;
    position:fixed;
}

.jt-23{
    width:600px;
    height:600px;
    padding:20px;
    margin:10px;
    border:salmon 4px solid;
    background-color: grey;

}
.jt-23>.jt-23{
    background-color:orangered;
    width:400px;
    height:400px;
}

.jt-23>.jt-23>.jt-23{
    background-color:greenyellow;
    height:200px;
    width:200px;
}